---
- name: "Create default bridge"
  ansible.builtin.uri:
    url: "{{ proxmox_api }}nodes/{{ ansible_hostname }}/network"
    method: POST
    headers:
      Authorization: "{{ authstring }}"
    body_format: json
    body:
      iface: "{{ default_bridge }}"
      type: "bridge"
      autostart: true
      address: "{{ ansible_default_ipv4.address }}"
      netmask: "{{ ansible_default_ipv4.netmask }}"
      gateway: "{{ ansible_default_ipv4.gateway }}"
      bridge_ports: "{{ node_physical }}"
      bridge_vlan_aware: true
      bridge_vids: "{{ requested_vlans }}"
      comments: "Ansible generated default bridge"
    validate_certs: false
  register: create_bridge
  when: node_default_bridge | length == 0

- name: "If there was already a default bridge, ensure all VLANs needed are there"
  ansible.builtin.set_fact:
    bridge_needs_update: "{{ (node_default_bridge[0].bridge_vids != requested_vlans) | default(true) }}"

- name: "Update default bridge"
  ansible.builtin.uri:
    url: "{{ proxmox_api }}nodes/{{ ansible_hostname }}/network/{{ default_bridge }}"
    method: PUT
    headers:
      Authorization: "{{ authstring }}"
    body_format: json
    body:
      type: "bridge"
      autostart: true
      bridge_vlan_aware: true
      bridge_vids: "{{ requested_vlans }}"
      comments: "Ansible generated default bridge"
    validate_certs: false
  when: bridge_needs_update

- name: "Create a VLAN for each id found"
  ansible.builtin.include_tasks: provision_VLAN.yml
  vars:
    vlan_id: "{{ item }}"
  loop: "{{ pve_config | community.general.json_query('[*].vlan') }}"

- name: Stop
  ansible.builtin.meta: end_role

- name: "Apply the new network configuration by rebooting"
  ansible.builtin.reboot:
