---
- name: "Now create the template VM on the local storage if it does not exist"
  community.proxmox.proxmox_kvm:
    api_host: "{{ ansible_hostname }}"
    api_user: "{{ api_user }}"
    api_token_id: "{{ api_token_id | default(omit) }}"
    api_token_secret: "{{ api_token | default(omit) }}"
    node: "{{ ansible_hostname }}"
    name: "{{ template_vm }}"
    description: "template debian server"
    scsi:
      scsi0: 'local:8,format=qcow2'
    scsihw: "virtio-scsi-single"
    net:
      net0: 'model=virtio,bridge={{ default_bridge }}'
    memory: 2048
    cores: 2
    sockets: 1
    agent: true
    state: present

- name: "Sleep for 5 seconds to give PVE time to process VM creation"
  ansible.builtin.wait_for:
    timeout: 5
  delegate_to: localhost
  become: false

- name: "Start it to have it populate and do tftp-based install"
  community.proxmox.proxmox_kvm:
    api_host: "{{ ansible_hostname }}"
    api_user: "{{ api_user }}"
    api_token_id: "{{ api_token_id | default(omit) }}"
    api_token_secret: "{{ api_token | default(omit) }}"
    node: "{{ ansible_hostname }}"
    name: "{{ template_vm }}"
    state: started
  register: start_kvm

- name: "Retrieve information about the newly created VM, allowing up to 10 minutes for full provision"
  community.proxmox.proxmox_vm_info:
    api_host: "{{ ansible_hostname }}"
    api_user: "{{ api_user }}"
    api_token_id: "{{ api_token_id | default(omit) }}"
    api_token_secret: "{{ api_token | default(omit) }}"
    node: "{{ ansible_hostname }}"
    network: true
    name: "{{ template_vm }}"
  register: info_ret
  retries: 20
  delay: 30
  until: not info_ret.failed and (info_ret.proxmox_vms | length > 0)

- name: Get the VM's IP into a variable
  ansible.builtin.set_fact:
    vm_ip_info: "{{ info_ret | community.general.json_query(_query) | flatten | first }}"
  vars:
    _query: 'proxmox_vms[*].network[?name!=`lo`]."ip-addresses"[*]."ip-address"'

- name: "Add the newly created VM to the ansible inventory"
  ansible.builtin.add_host:
    hostname: "{{ vm_ip_info }}"

- name: "Manipulate the VM to get rid of the machine-id"
  ansible.builtin.command:
    cmd: truncate -s 0 /etc/machine-id
  become: true
  changed_when: true
  delegate_to: "{{ vm_ip_info }}"

- name: "Template out the service file to reset SSH host keys"
  ansible.builtin.template:
    src: regenerate_ssh_host_keys.service.j2
    dest: /etc/systemd/system/regenerate_ssh_host_keys.service
    owner: root
    group: root
    mode: '0644'
  delegate_to: "{{ vm_ip_info }}"

- name: "Enable the reset systemd service"
  ansible.builtin.systemd_service:
    name: regenerate_ssh_host_keys.service
    enabled: true
    daemon_reload: true
  delegate_to: "{{ vm_ip_info }}"

- name: Stop VM
  community.proxmox.proxmox_kvm:
    api_host: "{{ ansible_hostname }}"
    api_user: "{{ api_user }}"
    api_token_id: "{{ api_token_id | default(omit) }}"
    api_token_secret: "{{ api_token | default(omit) }}"
    node: "{{ ansible_hostname }}"
    name: "{{ template_vm }}"
    state: stopped

- name: "Make this VM into a template for all future Debian-based VMs"
  community.proxmox.proxmox_kvm:
    api_host: "{{ ansible_hostname }}"
    api_user: "{{ api_user }}"
    api_token_id: "{{ api_token_id | default(omit) }}"
    api_token_secret: "{{ api_token | default(omit) }}"
    node: "{{ ansible_hostname }}"
    name: "{{ template_vm }}"
    state: template
