---
- name: "Create a clone"
  community.proxmox.proxmox_kvm:
    api_host: "{{ ansible_hostname }}"
    api_user: "{{ api_user }}"
    api_token_id: "{{ api_token_id | default(omit) }}"
    api_token_secret: "{{ api_token | default(omit) }}"
    node: "{{ ansible_hostname }}"
    clone: "{{ template_vm }}"
    full: true
    name: "{{ vmname }}"
    description: "{{ vmnotes }}"
    timeout: 500
  register: clone_result
  when: vmname not in active_vm_names

- name: Debug Mac address
  ansible.builtin.debug:
    msg: "Assigned MAC address for {{ vmname }} is: {{ vmmac | lower }}"

- name: "Edit the via API to set network settings"
  ansible.builtin.uri:
    url: "{{ proxmox_api }}nodes/{{ ansible_hostname }}/qemu/{{ clone_result.vmid }}/config"
    method: PUT
    headers:
      Authorization: "{{ authstring }}"
    body_format: json
    body:
      net0: "model=virtio,bridge={{ default_bridge }},macaddr={{ vmmac | lower }}"
      tags: "{{ vmtags }}"
    validate_certs: false
  when: vmname not in active_vm_names and (vmvlan == omit)

- name: "Edit the via API to set network settings, including VLAN"
  ansible.builtin.uri:
    url: "{{ proxmox_api }}nodes/{{ ansible_hostname }}/qemu/{{ clone_result.vmid }}/config"
    method: PUT
    headers:
      Authorization: "{{ authstring }}"
    body_format: json
    body:
      net0: "model=virtio,bridge={{ default_bridge }},tags={{ vmvlan }},macaddr={{ vmmac | lower }}"
      tags: "{{ vmtags }}"
    validate_certs: false
  when: vmname not in active_vm_names and (vmvlan != omit)


- name: "Retrieve info for this VM"
  community.proxmox.proxmox_vm_info:
    api_host: "{{ ansible_hostname }}"
    api_user: "{{ api_user }}"
    api_token_id: "{{ api_token_id | default(omit) }}"
    api_token_secret: "{{ api_token | default(omit) }}"
    node: "{{ ansible_hostname }}"
    name: "{{ vmname }}"
  register: clone_info
  retries: 5
  delay: 2
  until: clone_info.proxmox_vms | length > 0

- name: "Edit via API if disk needs resizing"
  ansible.builtin.uri:
    url: "{{ proxmox_api }}nodes/{{ ansible_hostname }}/qemu/{{ clone_info.proxmox_vms[0].vmid }}/resize"
    method: PUT
    headers:
      Authorization: "{{ authstring }}"
    body_format: json
    body:
      disk: scsi0
      size: "{{ vmdisk }}G"
    validate_certs: false
  when: (clone_info.proxmox_vms[0].maxdisk | int) < (vmdisk | int * 1024 * 1024 * 1024)

- name: "Start the cloned VM"
  community.proxmox.proxmox_kvm:
    api_host: "{{ ansible_hostname }}"
    api_user: "{{ api_user }}"
    api_token_id: "{{ api_token_id | default(omit) }}"
    api_token_secret: "{{ api_token | default(omit) }}"
    node: "{{ ansible_hostname }}"
    vmid: "{{ clone_info.proxmox_vms[0].vmid }}"
    state: started
