---
# Received vlan_id as variable containing the VLAN id
- name: "Create interface for a specific VLAN"
  ansible.builtin.uri:
    url: "{{ proxmox_api }}nodes/{{ ansible_hostname }}/network"
    method: POST
    headers:
      Authorization: "{{ authstring }}"
    body_format: json
    body:
      iface: "{{ default_bridge }}.{{ vlan_id }}"
      type: "vlan"
      autostart: true
      address: "{{ vlan_base }}{{ vlan_id }}.0"
      netmask: "{{ vlan_base_netmask }}"
      comments: "Ansible generated VLAN {{ vlan_id }}"
    validate_certs: false
