---
- name: Include vaulted password file
  ansible.builtin.include_vars:
    file: "{{ item }}"
  with_first_found:
    - files:
        - "{{ lookup('env', 'PRIVATE_REPO') | default('~') }}/ansible-vault/{{ ansible_role_name }}-vars.yml"
      skip: true

- name: "Read the configuration file"
  ansible.builtin.set_fact:
    pve_config: "{{ lookup('file', 'pve-config.json') | from_json }}"

- name: Set the requested VLANs into a fact
  ansible.builtin.set_fact:
    requested_vlans: "{{ pve_config | community.general.json_query('[*].vlan') | flatten | sort | join(' ') }}"

- name: "To manipulate proxmox, we will need the python proxmoxer module"
  ansible.builtin.apt:
    name:
      - python3-proxmoxer
    state: present

- name: "List existing nodes in the proxmox cluster"
  community.proxmox.proxmox_node_info:
    api_host: "{{ ansible_hostname }}"
    api_user: "{{ api_user }}"
    api_token_id: "{{ api_token_id | default(omit) }}"
    api_token_secret: "{{ api_token | default(omit) }}"
  register: proxmox_nodes

- name: "Get information on the current network config for this node"
  ansible.builtin.uri:
    url: "{{ proxmox_api }}nodes/{{ ansible_hostname }}/network"
    method: GET
    headers:
      Authorization: "{{ authstring }}"
    validate_certs: false
  register: networkconfig

- name: "Set facts, including information about (any) current bridges"
  ansible.builtin.set_fact:
    node_default_bridge: "{{ networkconfig.json | community.general.json_query(_query_bridge) }}"
    node_vlans: "{{ networkconfig.json | community.general.json_query(_query_vlan) | map(attribute='iface') | list }}"
    node_physical: "{{ networkconfig.json | community.general.json_query('data[?type==`eth`].iface') | first }}"
  vars:
    _query_bridge: "data[?type==`bridge` && iface==`{{ default_bridge }}`]"
    _query_vlan: "data[?type==`vlan`]"

- name: "Look for the presence of the template VM on the node, called: {{ template_vm }}"
  community.proxmox.proxmox_vm_info:
    api_host: "{{ ansible_hostname }}"
    api_user: "{{ api_user }}"
    api_token_id: "{{ api_token_id | default(omit) }}"
    api_token_secret: "{{ api_token | default(omit) }}"
    node: "{{ ansible_hostname }}"
    name: "{{ template_vm }}"
  register: template_info

- name: "Set fact for presence of default VM"
  ansible.builtin.set_fact:
    template_present: "{{ template_info.proxmox_vms[0].template | default(false) }}"

- name: "Include tasks to set up networking"
  ansible.builtin.include_tasks: provision_network.yml

- name: "Include the tasks that will create a template VM, but only if none were found"
  ansible.builtin.include_tasks: provision_templatevm.yml
  when: not template_present

- name: "Now storage, back to Ansible modules"
  community.proxmox.proxmox_storage_info:
    api_host: "{{ ansible_hostname }}"
    api_user: "{{ api_user }}"
    api_token_id: "{{ api_token_id | default(omit) }}"
    api_token_secret: "{{ api_token | default(omit) }}"
  register: proxmox_storages

- name: Debug
  ansible.builtin.debug:
    var: proxmox_storages

- name: "Retrieve information on all VMs in Proxmox"
  community.proxmox.proxmox_vm_info:
    api_host: "{{ ansible_hostname }}"
    api_user: "{{ api_user }}"
    api_token_id: "{{ api_token_id | default(omit) }}"
    api_token_secret: "{{ api_token | default(omit) }}"
    node: "{{ ansible_hostname }}"
  register: all_vm_info

- name: "Make a list out of all found vm names"
  ansible.builtin.set_fact:
    active_vm_names: "{{ all_vm_info.proxmox_vms | map(attribute='name') | list }}"

- name: "Include tasks to create clones for all defined VMs"
  ansible.builtin.include_tasks: provision_VMs.yml
  vars:
    vmname: "{{ item.name }}"
    vmvlan: "{{ item.vlan }}"
  with_items:
    - "{{ pve_config }}"
